<section class="message_box">
  <div id="messages">
    <%= render @messages %>
  </div>
</section>
<script type="text/javascript">
  $("section.message_box").scrollTop($("section.message_box")[0].scrollHeight);
</script>
<div class="message_form">
  <%= render 'messages/message_form', {from_user: current_user, to_user: @user, room_id: @room_id} %>
</div>