
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <% if !current_user?(@user) && logged_in? %>
      <h3>Friends Chat Room</h3>
      <section class="message_box">
        <div id="messages">
          <%= render @messages %>
        </div>
      </section>
      <script type="text/javascript">
          $("section.message_box").scrollTop($("section.message_box")[0].scrollHeight);
      </script>
      <div class="message_form">
        <%= render 'messages/message_form',
                   {from_user: current_user, to_user: @user, room_id: @room_id} %>
      </div>
    <% end %>
  </div>
</div>